@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-container{
    width: 20%;
    height: 100vh;
    background-color: white;
    box-shadow: 0 8px 16px rgba(113, 218, 250, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-details p{
    margin-top: 1rem;
}

.logout{
    margin-top: 3rem;
    background: transparent;
    width: 4rem;
    height: 2rem;
    border: 1px solid  black;
    cursor: pointer;
}

.logout:hover{
    transform: scale(1.1);
}

.profile-details{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}

.profile svg{
    width: 9rem;
    height: 10rem;
}

.right-container{
    width: 80%;
    height: 100vh;
    position: relative;
    background:linear-gradient(150deg,rgba(196,240,253,0.404),rgba(255, 255, 255, 0.404));
}
.right-container .content-view-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background:linear-gradient(120deg,rgba(215, 222, 224, 0.404),rgba(255, 255, 255, 0.404));
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0;
}
.right-container.animation .content-view-container{
    opacity: 1;
}
.right-container.active .content-view-container{
    display: none;
}


.content-container{
    width: 86%;
    background-color: white;
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.39);
    margin-left: 7%;
    margin-top: 2.5rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.473);
}

.problem-name{
    margin-left: 2.8rem;
    margin-top: 1.5rem;
    color: rgba(0, 0, 0, 0.76);
}

.problem-definition{
    margin-top: 1rem;
    width: 90%;
    margin-left: 5%;
    line-height: 1.4rem;
}

.problem-def-span{
    margin-left: 2rem;
}

.time-and-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 65%;
    padding-bottom: 0.7rem;
    margin-top: 1rem;
    
}

.date{  
    margin-left: 1rem;
}

.add-button{
    position: fixed;
    left: 85%;
    top: 80vh;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.705);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-button img{
    width: 3.5rem;
    height: 3.5rem;
}

.right-container .content-add-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 80vh;
    background-color: white;
    margin: 5% 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.555);
    box-shadow: inset 0px 0px 4px black;
    display: none;
}

.right-container.active .content-add-container{
    display: flex;
}

.name{
    margin-top: 2.5rem;
    margin-left: 3%;
}

.name input{
    border: none;
    outline: none;
    margin-left: .5rem;
}

.problem-selection-container{
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-top: 2rem;
}

.problem-dropdown{
    width: 40%;
    margin-left: .5rem;
}

.drop-click{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}


.problem-dropdown .options{
    margin-top: .4rem;
    width: 20%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    overflow-y:scroll ;
    display: none;
    position: absolute;
}

.problem-dropdown.active .options{
    display: flex;
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.747); 
  }


.option{
    width: 100%;
    height: 1.5rem;
    padding: .5rem 0;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.option p{
    margin-left: .5rem;
    margin-bottom: .5rem;
}

.input-container{
    margin-left: 10%;
}

.input-container textarea{
    margin-bottom: 0rem;
    border: none;
    box-shadow: inset 0 0 2px rgb(107, 107, 107);
    padding-left: 1rem;
    padding-top: 1rem;
    outline: none;
    border-radius: 15px;
}

.content-add-container button{
    width: 5rem;
    height:1.8rem;
    border: white;
    border-radius: 10px;
    background-color: rgb(37, 171, 175);
    color: white;
    font-size: 1.1rem;
    position: relative;
    left: 73%;
    top: -3rem;
    cursor: pointer;
    opacity: .8;
}

.content-add-container button:hover{
    opacity: 1;
    border: 1px solid black;
}

.right-container .loading-animation{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container.animation .loading-animation{
    display: none;
}

.circle{
    width: 4rem;
    height: 4rem;
    border:4px solid white ;
    border-radius: 50%;
    border-left: 4px solid  rgb(0, 247, 255);
    animation: rotateBorder 1s linear infinite;
}

@keyframes rotateBorder{
    0%{
        border-left: 4px solid  rgb(0, 247, 255);
    }
    25%{
        border-left: 4px solid  rgb(0, 110, 255);
    }
    50%{
        border-left: 4px solid  rgb(38, 0, 255);
    }
    75%{
        border-left: 4px solid  rgb(255, 0, 149);
    }
    100%{
        border-left: 4px solid  rgb(0, 102, 255);
        transform: rotate(360deg);
    }
}