@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(150deg,rgba(158, 215, 238, 0.404),rgba(255, 255, 255, 0.404));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.sign-up-box{
    width: 35%;
    min-height: 35rem;
    border-radius: 25px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0 2.5rem 0;
    margin-top: 5rem;
    background-color: white;
}

/* .sign-up-box > h2 {
    margin-left: 8%;
} */
.sign-up-box input{
    width: 80%;
    height: 2.5rem;
    /* margin-left: 8%; */
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    outline:none;
    padding-left: .8rem;
    margin-top: 1.5rem;
    /* background-color: rgba(255, 255, 255, 0.795); */
}

.sign-up-box button{
    width: 10rem;
    height: 2.1rem;
    background-color:rgb(50, 192, 248) ;
    color: white;
    border: none;
    margin-top: 2rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
}

.sign-up-box button:hover{
    border: 1px solid rgba(0, 0, 0, 0.733);
    transform: scale(1.05);
}
